@font-face {
  font-family: "Necto Mono";
  src: url("../assets/fonts/NectoMono-Regular.woff2") format("woff2");
}

:root {
  --main: #A30B37;
  --secondary: #FCD581;
  --text-dark: #000;
  --text-light: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

h1, h2, p, button, a, li, .logotext-M, .logotext-FF, .logotext-W, .h2-image {
  font-family: "Necto Mono";
}

p {
  margin: 10px;
}

.central, h1 {
  text-align: center;
}

a, a:visited {
  color: var(--text-light);
}

a:hover, .flex-image:hover {
  color: var(--secondary);
}

svg {
  display: block;
}

img {
  height: 100%;
}

.logotext-M, .logotext-FF, .logotext-W {
  font-size: 48px;
  fill: black;
}

.logo-website {
  max-width: 600px;
  display: block;
  margin: auto;
  padding: 20px;
}

.logobox-M, .logobox-FF, .logobox-W, .logobox-hidden-M, .logobox-hidden-FF, .logobox-hidden-W {
  fill: var(--secondary);
  transition: height 1.5s, fill 0.5s ease;
}

.logo-FF-wrapper:hover .logobox-FF,
.logo-M-wrapper:hover .logobox-M,
.logo-W-wrapper:hover .logobox-W {
  fill: var(--main);
}

.logo-FF-wrapper:hover .logobox-hidden-FF,
.logo-M-wrapper:hover .logobox-hidden-M,
.logo-W-wrapper:hover .logobox-hidden-W {
  height: 88px;
  fill: var(--main);
}

.logo-FF-wrapper:hover ~ .logotext-FF,
.logo-M-wrapper:hover ~ .logotext-M,
.logo-W-wrapper:hover ~ .logotext-W,
.logo-FF-wrapper:hover .logotext-FF,
.logo-M-wrapper:hover .logotext-M,
.logo-W-wrapper:hover .logotext-W {
  fill: var(--text-light);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

.flex-item, .flex-image {
  min-width: 300px;
  margin: 5px;
  color: var(--text-light);
  flex: 1;
  transition: margin 1s ease;
}

.flex-item {
  background: var(--main);
  min-width: 250px;
  padding: 20px;
}

.flex-image {
  overflow: hidden;
  justify-content: center;
  display: flex;
  position: relative;
}

.flex-image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.flex-item:hover, .flex-image:hover {
  margin: 0;
}

.h2-image {
  justify-content: left;
  align-items: center;
  display: flex;
  color: var(--secondary);
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  font-size: 5vh;
  opacity: 0%;
}

.flex-image:hover img {
  opacity: 50%;
  transition: 1s;
}

.flex-image:hover .h2-image{
  color: black;
  opacity: 100%;
  transition: 0.5s;
}

li {
  margin: 10px;
}

.logos {
  fill:var(--text-light);
}

.logos:hover {
  fill: var(--secondary);
}

.logo {
  width: 40px;
  height: 40px;
  margin: 12px 8px;
  display: inline-flex;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}